Repository Leonelmarianog/kanban-board: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,mts,tsx,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,html,css,scss}": ["prettier --write"]
}

chore(frontend): update CLAUDE.md
  frontend/CLAUDE.md
Due: prettier --write

tests(frontend): cleanup view tests for better organization and readability
  frontend/src/views/LoginView.vue
  frontend/src/views/RegisterView.vue
  frontend/src/views/__tests__/LoginView.spec.ts
  frontend/src/views/__tests__/RegisterView.spec.ts
Due: eslint --fix, prettier --write

tests(frontend): add tests for auth store
  frontend/src/stores/__tests__/auth.spec.ts
Due: eslint --fix, prettier --write

tests(frontend): add tests for route guard
  frontend/src/router/__tests__/guards.spec.ts
  frontend/src/router/guards.ts
  frontend/src/router/index.ts
Due: eslint --fix, prettier --write

tests(frontend): add tests for query error handlers
  frontend/src/query/__tests__/handlers.spec.ts
  frontend/src/query/handlers.ts
Due: eslint --fix, prettier --write

feat(frontend): add user navigation menu
  frontend/src/api/backend/member/index.ts
  frontend/src/components/PageHeader.vue
  frontend/src/components/PageHeaderMenu.vue
  frontend/src/components/PageLayout.vue
  frontend/src/components/__tests__/PageHeader.spec.ts
  frontend/src/components/__tests__/PageHeaderMenu.spec.ts
  frontend/src/components/__tests__/PageLayout.spec.ts
  frontend/src/composables/queries/memberOptions.ts
  frontend/src/composables/shared/__tests__/useClickOutside.spec.ts
  frontend/src/composables/shared/useClickOutside.ts
  frontend/src/views/HomeView.vue
  frontend/test/handlers.ts
Due: eslint --fix, prettier --write

chore(frontend): add vue testing library
  frontend/package-lock.json
  frontend/package.json
  frontend/test/setup.ts
  frontend/tsconfig.vitest.json
Due: eslint --fix, prettier --write

chore(backend): add laravel boost
  backend/.mcp.json
  backend/boost.json
  backend/composer.json
  backend/composer.lock
Due: prettier --write

chore(backend): update .gitignore
  backend/.gitignore
Due: none

refactor(backend): update get member profile flow
  backend/modules/Application/UseCases/Member/GetMember/Exceptions/MemberNotFoundException.php
  backend/modules/Application/UseCases/Member/GetMember/GetMemberHandler.php
  backend/modules/Application/UseCases/Member/GetMember/GetMemberRepositoryInterface.php
  backend/modules/Application/UseCases/Member/GetMember/GetMemberRequestDto.php
  backend/modules/Application/UseCases/Member/GetMember/GetMemberResponseDto.php
  backend/modules/Infrastructure/Http/Controllers/Member/GetMemberController.php
  backend/modules/Infrastructure/Persistence/Repositories/GetMemberRepository.php
  backend/modules/Infrastructure/Providers/RepositoryServiceProvider.php
  backend/routes/api_v1.php
  backend/tests/Feature/Api/V1/Members/GetMemberTest.php
Due: none

chore(backend): update project guidelines
  backend/.ai/guidelines/guidelines.md
Due: prettier --write

chore(backend): fix type errors
  backend/app/Swagger/Info.php
  backend/modules/Infrastructure/Http/Controllers/Auth/LogoutUserController.php
  backend/modules/Infrastructure/Http/Controllers/Member/GetMemberController.php
Due: none

feat(backend): Add ability for users to update their profile details
  backend/modules/Application/UseCases/Member/UpdateProfileDetails/Exceptions/UsernameAlreadyExistsException.php
  backend/modules/Application/UseCases/Member/UpdateProfileDetails/UpdateProfileDetailsHandler.php
  backend/modules/Application/UseCases/Member/UpdateProfileDetails/UpdateProfileDetailsRepositoryInterface.php
  backend/modules/Application/UseCases/Member/UpdateProfileDetails/UpdateProfileDetailsRequestDto.php
  backend/modules/Application/UseCases/Member/UpdateProfileDetails/UpdateProfileDetailsResponseDto.php
  backend/modules/Domain/User/User.php
  backend/modules/Infrastructure/Http/Controllers/Member/UpdateProfileDetailsController.php
  backend/modules/Infrastructure/Http/Requests/Member/UpdateProfileDetailsRequest.php
  backend/modules/Infrastructure/Persistence/Repositories/UpdateProfileDetailsRepository.php
  backend/modules/Infrastructure/Providers/RepositoryServiceProvider.php
  backend/routes/api_v1.php
  backend/tests/Feature/Api/V1/Members/UpdateProfileDetailsTest.php
  backend/tests/Unit/Domain/User/UserTest.php
Due: none

chore(backend): add URL signer package
  backend/.env.example
  backend/composer.json
  backend/composer.lock
  backend/config/app.php
  backend/config/url-signer.php
  backend/config/verification.php
Due: prettier --write

feat(backend): make register use case send a verification link email to user
  backend/modules/Application/UseCases/Auth/RegisterUser/RegisterUserHandler.php
  backend/modules/Application/UseCases/Auth/RegisterUser/RegisterUserRepositoryInterface.php
  backend/modules/Application/UseCases/Auth/RegisterUser/RegisterUserResponseDto.php
  backend/modules/Infrastructure/Mail/LaravelMailer.php
  backend/modules/Infrastructure/Mail/Mailables/VerificationMailable.php
  backend/modules/Infrastructure/Mail/MailerInterface.php
  backend/modules/Infrastructure/SignedUrl/SignedUrlInterface.php
  backend/modules/Infrastructure/SignedUrl/SpatieSignedUrl.php
Due: none

feat(backend): make login use case validate email verification
  backend/modules/Application/UseCases/Auth/LoginUser/Exceptions/EmailNotVerifiedException.php
  backend/modules/Application/UseCases/Auth/LoginUser/Exceptions/LoginUserException.php
  backend/modules/Application/UseCases/Auth/LoginUser/LoginUserHandler.php
  backend/modules/Infrastructure/Http/Controllers/Auth/LoginUserController.php
  backend/modules/Infrastructure/Http/Controllers/Auth/RegisterUserController.php
  backend/modules/Infrastructure/Persistence/Repositories/RegisterUserRepository.php
Due: none

feat(backend): add ability for users to validate their emails
  backend/database/migrations/2026_03_26_000000_create_email_verification_tokens_table.php
  backend/modules/Application/UseCases/Auth/SendVerificationEmail/SendVerificationEmailHandler.php
  backend/modules/Application/UseCases/Auth/SendVerificationEmail/SendVerificationEmailRepositoryInterface.php
  backend/modules/Application/UseCases/Auth/SendVerificationEmail/SendVerificationEmailRequestDto.php
  backend/modules/Application/UseCases/Auth/SendVerificationEmail/SendVerificationEmailResponseDto.php
  backend/modules/Application/UseCases/Auth/VerifyEmail/Exceptions/InvalidVerificationLinkException.php
  backend/modules/Application/UseCases/Auth/VerifyEmail/VerificationTokenDto.php
  backend/modules/Application/UseCases/Auth/VerifyEmail/VerifyEmailHandler.php
  backend/modules/Application/UseCases/Auth/VerifyEmail/VerifyEmailRepositoryInterface.php
  backend/modules/Application/UseCases/Auth/VerifyEmail/VerifyEmailRequestDto.php
  backend/modules/Application/UseCases/Auth/VerifyEmail/VerifyEmailResponseDto.php
  backend/modules/Domain/User/User.php
  backend/modules/Infrastructure/Http/Controllers/Auth/SendVerificationEmailController.php
  backend/modules/Infrastructure/Http/Controllers/Auth/VerifyEmailController.php
  backend/modules/Infrastructure/Http/Requests/Auth/SendVerificationEmailRequest.php
  backend/modules/Infrastructure/Http/Requests/Auth/VerifyEmailRequest.php
  backend/modules/Infrastructure/Persistence/EloquentTransaction.php
  backend/modules/Infrastructure/Persistence/Mappers/UserMapper.php
  backend/modules/Infrastructure/Persistence/Models/EmailVerificationTokenModel.php
  backend/modules/Infrastructure/Persistence/Models/UserModel.php
  backend/modules/Infrastructure/Persistence/Repositories/SendVerificationEmailRepository.php
  backend/modules/Infrastructure/Persistence/Repositories/VerifyEmailRepository.php
  backend/modules/Infrastructure/Persistence/TransactionInterface.php
  backend/modules/Infrastructure/Providers/RepositoryServiceProvider.php
  backend/resources/views/emails/verification.blade.php
Due: none

tests(backend): update tests cases
  backend/tests/Feature/Api/Auth/LoginTest.php
  backend/tests/Feature/Api/Auth/RegisterTest.php
  backend/tests/Feature/Api/Auth/SendVerificationEmailTest.php
  backend/tests/Feature/Api/Auth/VerifyEmailTest.php
Due: none

chore(backend): update user factory
  backend/database/factories/UserFactory.php
Due: none

feat(backend): add rate limiting to email verification
  backend/app/Providers/AppServiceProvider.php
Due: none

feat(backend): update API routes
  backend/routes/api.php
Due: none

chore(backend): fix phpstan error for InvalidCredentialsException
  backend/modules/Application/UseCases/Auth/LoginUser/Exceptions/InvalidCredentialsException.php
Due: none

chore(backend): fix phpstan related error for SendVerificationEmailRequest file
  backend/modules/Infrastructure/Http/Requests/Auth/SendVerificationEmailRequest.php
Due: none

chore(backend): fix phpstan related error for UserModel
  backend/modules/Infrastructure/Persistence/Models/UserModel.php
Due: none

ref(backend): refactor verification flow to align with project guidelines
  backend/database/factories/EmailVerificationTokenFactory.php
  backend/modules/Application/UseCases/Auth/VerifyEmail/VerificationTokenDto.php
  backend/modules/Application/UseCases/Auth/VerifyEmail/VerifyEmailHandler.php
  backend/modules/Application/UseCases/Auth/VerifyEmail/VerifyEmailRepositoryInterface.php
  backend/modules/Domain/Auth/EmailVerificationToken.php
  backend/modules/Infrastructure/Persistence/Mappers/EmailVerificationTokenMapper.php
  backend/modules/Infrastructure/Persistence/Models/EmailVerificationTokenModel.php
  backend/modules/Infrastructure/Persistence/Repositories/VerifyEmailRepository.php
  backend/tests/Unit/Domain/Auth/EmailVerificationTokenTest.php
  backend/tests/Unit/Infrastructure/Persistence/Mappers/EmailVerificationTokenMapperTest.php
Due: none

chore(backend): remove unused method
  backend/modules/Infrastructure/Persistence/Mappers/UserMapper.php
  backend/tests/Unit/Infrastructure/Persistence/Mappers/UserMapperTest.php
Due: none

chore(backend): fix configuration file returning wrong type value
  backend/config/verification.php
Due: none

chore(backend): fix AUTH_MODEL reference
  backend/config/auth.php
Due: none

chore(shared): add development workflow infrastructure
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  backend/.ai/guidelines/workflows.md
  frontend/.ai/guidelines/workflows.md
  frontend/.gitignore
Due: prettier --write

chore(shared): reorganize AI instructions folder structure
  CONTRIBUTING.md
  backend/.ai/guidelines/guidelines.md
  backend/.ai/plans/module-organization-plan.md
  backend/.ai/workflows/development-workflow.md
  backend/.claude/skills/pest-testing/SKILL.md
  backend/.claude/skills/tailwindcss-development/SKILL.md
  backend/CLAUDE.md
  backend/docs/code-style.md
  backend/docs/use-case-architecture.md
  frontend/.ai/workflows/development-workflow.md
Due: prettier --write

chore(shared): convert inline guidelines to modular skills
  backend/.ai/guidelines/guidelines.md
  backend/.ai/workflows/development-workflow.md
  backend/.claude/agents/security-reviewer.md
  backend/.claude/skills/architecture-conventions/SKILL.md
  backend/.claude/skills/git-conventions/SKILL.md
  backend/.claude/skills/laravel-conventions/SKILL.md
  backend/.claude/skills/testing-conventions/SKILL.md
  backend/CLAUDE.md
Due: prettier --write

fix(shared): add gh CLI requirement and remove Co-Authored-By from commits
  backend/.claude/skills/git-conventions/SKILL.md
Due: prettier --write

fix(shared): add workflow rules for commits, PRs, and pushes
  backend/.ai/guidelines/guidelines.md
Due: prettier --write

fix(shared): add workflow rules to CLAUDE.md
  backend/CLAUDE.md
Due: prettier --write

feat(backend): add change password feature
  backend/app/Providers/AppServiceProvider.php
  backend/modules/Application/UseCases/Auth/ChangePassword/ChangePasswordHandler.php
  backend/modules/Application/UseCases/Auth/ChangePassword/ChangePasswordRepositoryInterface.php
  backend/modules/Application/UseCases/Auth/ChangePassword/ChangePasswordRequestDto.php
  backend/modules/Application/UseCases/Auth/ChangePassword/ChangePasswordResponseDto.php
  backend/modules/Application/UseCases/Auth/ChangePassword/Exceptions/ChangePasswordException.php
  backend/modules/Application/UseCases/Auth/ChangePassword/Exceptions/InvalidCurrentPasswordException.php
  backend/modules/Application/UseCases/Auth/ChangePassword/Exceptions/SamePasswordException.php
  backend/modules/Application/UseCases/Auth/ChangePassword/Exceptions/UserNotFoundException.php
  backend/modules/Domain/User/User.php
  backend/modules/Infrastructure/Http/Controllers/Auth/ChangePasswordController.php
  backend/modules/Infrastructure/Http/Requests/Auth/ChangePasswordRequest.php
  backend/modules/Infrastructure/Persistence/Repositories/ChangePasswordRepository.php
  backend/modules/Infrastructure/Providers/RepositoryServiceProvider.php
  backend/routes/api.php
Due: none

feat(backend): add password changed email notification
  backend/modules/Infrastructure/Mail/Mailables/PasswordChangedMailable.php
  backend/resources/views/emails/password-changed.blade.php
Due: none

tests(backend): add change password feature tests
  backend/tests/Feature/Api/Auth/ChangePasswordTest.php
Due: none
